<% @blog.errors.full_messages.each do |message| %>
	<div class="form-error" >
		<%= message %>
	</div>
<% end %>
	<%= form_for [ @blog ] do |f| %>
	title: <%= f.text_field :title %>
	body: <%= f.text_field :body %>
	<%= f.hidden_field :user_id, value: params[:id] %>
	<%= f.submit "更新" %>
	<% end %>